{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'polls:index' %}" class="mb-3 no-underline inline-block px-3 py-2 rounded leading-none text-sm font-bold bg-gray-300 hover:bg-gray-400 focus:bg-gray-400 text-gray-800">Back to Polls</a>
  <h1 class="text-center font-medium text-lg mb-3"> {{ question.question_text }} </h1>

  {% if error_msg %}
    <div class="p-3 mb-2 bg-red-100 rounded-r text-red-700 border-l-4 border-red-600">
      <p>{{ error_msg }}</p>
    </div>
  {% endif %}
  <form action=" {% url 'polls:vote' question.id %} " method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <div class="">
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}"> {{ choice.choice_text }} </label>
        </div>
    {% endfor %}
    <input type="submit" value="Vote" class="mt-2 px-3 py-2 rounded leading-none text-sm text-white font-bold bg-green-400 hover:bg-green-500 hover:shadow cursor-pointer">
  </form>

{% endblock content %}